# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: "*"
  pull_request:
    branches: "*"
jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install Xcode 26.0
      run: sudo xcode-select -s /Applications/Xcode_26.0.app
    - name: Install swiftlint
      run: |
        brew update
        brew install swiftlint
    - name: Lint
      run: swiftlint
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v